html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: grey;
}


.maze {
    background-color: black;
    color: white;
}


td {
    background-color: white;
}







